<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= params[:email_id] %>,
      Here is the Prediction CSV for Game Week <%= params[:game_week_name] %>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>